.tour-wrap {
    padding: 20px;

    .hidden {
        visibility: hidden;
    }

    .tour-name {
        margin: 0 0 12px 0;
        font-weight: bold;
        font-size: 16px;
    }

    .tour-bar-wrap {
        position: relative;
        height: 20px;

        .tour-bar {
            background-color: #D9DDE2;
            height: 4px;
            font-size: 1px;
            overflow: hidden;
            border-radius: 4px;

            .completed {
                width: 0;
                height: 100%;
                background-color: #534472;
            }
        }

        a.step-circle {
            position: absolute;
            top: -3px;
            color: #ccc;
            border-radius: 50%;
            width: 10px;
            height: 10px;
            background-color: #D9DDE2;

            &.current {
                border: 2px solid #4195C2;
                top: -4px;
                margin-right: -2px;
            }

            &.current.available {
                background-color: #534472;
            }

            &.complete, &.available {
                &:hover {
                    border: 2px solid #4195C2;
                    top: -4px;
                    margin-right: -2px;
                }
            }

            &.incomplete {
                &.unavailable {
                    cursor: default;
                }
            }

            &.complete {
                background-color: #534472;
            }

            .step-name {
                visibility: hidden;
                position: absolute;
                top: -30px;
                padding: 2px 6px;
                border-radius: 6px;
                background-color: #4195C2;
                color: white;
                white-space: nowrap;
                font-size: 12px;
            }

            &:hover {
                .step-name {
                    visibility: visible;
                }
            }
        }
    }
}
