circle-size = 13px;
circle-size-half = 6.5px;
circle-size-hover = 19px;
circle-size-hover-half = 9.5px;


.tour-wrap {
    padding: 20px;

    .hidden {
        visibility: hidden;
    }

    .tour-name {
        margin: 0 0 24px 0;
        font-weight: bold;
        font-size: 16px;
    }

    .tour-bar-wrap {
        position: relative;
        height: 20px;

        .tour-bar {
            background-color: #D9DDE2;
            height: 5px;
            font-size: 1px;
            overflow: hidden;
            position: relative;
            top: -3px;

            .completed {
                width: 0;
                height: 100%;
                background-color: #534472;
            }
        }

        a.step-circle {
            position: absolute;
            top: -(circle-size-half);
            color: #ccc;
            border-radius: 50%;
            width: circle-size;
            height: circle-size;
            background-color: #D9DDE2;
            margin-left: -(circle-size-half);

            &.available {
                &:hover {
                    border: 3px solid #4195C2;
                    margin-left: -(circle-size-hover-half)
                    top: -(circle-size-hover-half);
                }
            }

            &.complete, &.current {
                &:hover {
                    border: 3px solid #534472;
                    margin-left: -(circle-size-hover-half)
                    top: -(circle-size-hover-half);
                }
            }

            &.current.available {
                background-color: #534472;
            }

            &.incomplete {
                &.unavailable {
                    cursor: default;
                }
            }

            &.complete {
                background-color: #534472;
            }

            .step-name {
                visibility: hidden;
                position: absolute;
                top: -43px;
                padding: 10px;
                border-radius: 6px;
                background-color: #4195C2;
                color: white;
                white-space: nowrap;
                font-family: 'HalisRLight',helvetica,arial,verdana,sans-serif;
                text-transform: uppercase;
                font-size: 10px;
                font-weight: bold;

                &:after {
                    top: 100%;
                    left: 50%;
                    border: solid transparent;
                    content: " ";
                    height: 0;
                    width: 0;
                    position: absolute;
                    pointer-events: none;
                    background-color: transparent;
                    border-top-color: #4195C2;
                    border-width: 6px;
                    margin-left: -6px;
                }
            }

            &:hover {
                .step-name {
                    visibility: visible;
                }
            }

            &:first-child {
                margin-left: 0;

                &.available, &.complete, &.current {
                    &:hover {
                        margin-left: 0;
                    }
                }

                .step-name {
                    left: 0;
                    border-radius: 6px 6px 6px 0;

                    &:after {
                        left: 0;
                        margin-left: 0;
                    }
                }
            }

            &:last-child {
                margin-left: -(circle-size);

                &.available, &.complete, &.current {
                    &:hover {
                        margin-left: -(circle-size-hover);
                    }
                }

                .step-name {
                    right: 0;
                    border-radius: 6px 6px 0 6px;

                    &:after {
                        right: 0;
                        left: auto;
                        margin-left: 0;
                    }
                }
            }

        }
    }
}
