{% if tour %}
    <div class="tour-wrap">
        <div class="tour-name">
            {% for step in tour.steps %}
                {% if step.current %}
                    {{ step.name }}
                {% endif %}
            {% endfor %}
        </div>
        <div class="tour-bar-wrap hidden">
            <div class="tour-bar">
                <div class="completed"></div>
            </div>
            {% for step in tour.steps %}
                <a href="{{ step.url }}" class="step-circle {{ step.cls }}">
                    <span class="step-name">{{ step.name }}</span>
                </a>
            {% endfor %}
        </div>
    </div>
    <link rel="stylesheet" href="{{ STATIC_URL }}build/tour.css" />
    <script src="{{ STATIC_URL }}src/tour/tour.js"></script>
{% endif %}
